@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

*{
padding: 0;
margin: 0;
}

.conteudo-reservation{
  height: 65vh;
  width: 60%;
  background-color: rgb(0,0,0,0.2);
  margin: 0 auto;
  margin-left: 50px;
  padding: 10px;
  color: #fff;
}

.conteudo-reservation h1{
  font-size: 50px;
  text-shadow: 2px 2px 2px #000;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Akaya Kanadaka', cursive;
}

.conteudo-reservation p{
  width: 50%;
  margin: 0 auto;
  text-shadow: 2px 2px 2px #000;
  font-size: 20px;
  margin-top: 15%;
}